<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <AccelaConfig>
    <URLs>
      <AuthenticationURL>https://auth.dev.accela.com/oauth2/authorize</AuthenticationURL>
      <TokenExchangeURL>https://auth.dev.accela.com/oauth2/token</TokenExchangeURL>
      <APIUrl>https://accelaapidev-beta.cloudapp.net</APIUrl>
      <!--<APIUrl>https://apis.dev.accela.com</APIUrl>-->
    </URLs>
    <RequestStrings>
      <!-- Authentication -->
      <AuthenticationRequest>{authUrl}?client_id={appId}&amp;redirect_uri={redirectURI}&amp;scope={scope}&amp;response_type=code</AuthenticationRequest>
      <CodeExchangeRequest>grant_type=authorization_code&amp;client_id={appId}&amp;client_secret={appSecret}&amp;redirect_uri={redirectURI}&amp;code={code}</CodeExchangeRequest>
      <GetUserProfile>/v4/users/me</GetUserProfile>
      <!-- Records -->
      <GetRecord>/v4/records/{recordIds}</GetRecord>
      <GetRecords>/v4/records?module={module}</GetRecords>
      <GetMyRecords>/v4/records/mine</GetMyRecords>
      <CreateRecord>/v4/records</CreateRecord>
      <UpdateRecord>/v4/records/{recordIds}</UpdateRecord>
      <DeleteRecord></DeleteRecord>
      <GetRecordASIs>/v4/records/{recordIds}/asis</GetRecordASIs>
      <GetRecordFees>/v4/records/{recordId}/fees</GetRecordFees>
      <GetRelatedRecords>/v4/records/{recordId}/related</GetRelatedRecords>
      <!-- Contacts -->
      <GetRecordContacts>/v4/records/{recordIds}/contacts</GetRecordContacts>
      <GetContactTypes>/v4/system/contacts/types</GetContactTypes>
      <SearchContact>/v4/contacts</SearchContact>
      <!-- Documents -->
      <DeleteRecordDocument>/v4/records/{recordId}/documents/{documentIds}</DeleteRecordDocument>
      <CreateRecordDocument>/v4/records/{recordId}/documents</CreateRecordDocument>
      <DeleteRecordDocuments>/v4/records/{recordId}/documents</DeleteRecordDocuments>
      <GetRecordDocuments>/v4/records/{recordId}/documents</GetRecordDocuments>
      <GetRecordDocument>/v4/documents/{documentIds}</GetRecordDocument>
      <DownloadRecordDocument>/v4/documents/{documentId}</DownloadRecordDocument>
      <!--<DownloadRecordDocument>/v4p/documents/{documentId}/download</DownloadRecordDocument>-->
      <!-- Agencies -->
      <GetAgency>/v4/agencies/{name}</GetAgency>
      <GetAgencyLogo>/v4/agencies/{name}/logo</GetAgencyLogo>
      <GetStaff>/v4/system/agency/departments/{id}/staffs</GetStaff>
      <!-- Describe and Drilldowns -->
      <DescribeASI>/v4/system/record/type/{recordTypeId}/asis</DescribeASI>
      <DescribeRecordTypes>/v4/system/record/types?module={module}&amp;offset={offset}&amp;limit={limit}</DescribeRecordTypes>    
      <!-- Workflows -->
      <GetWorkflowTasks>/v4/records/{id}/workflowtasks</GetWorkflowTasks>
      <UpdateWorkflowTask>/v4/records/{id}/workflowtask</UpdateWorkflowTask>
    </RequestStrings>
    <RequestHelpers>
      <CodeString>code=</CodeString>
      <ContentType>application/json</ContentType>
      <Accept>application/json</Accept>
      <HAppId>x-accela-appid</HAppId>
      <HAppSecret>x-accela-secret</HAppSecret>
      <HAgency>x-accela-agency</HAgency>
      <HEnv>x-accela-environment</HEnv>
      <HResponseError>x-accela-resp-message</HResponseError>
      <HTraceId>x-accela-traceId</HTraceId>
    </RequestHelpers>
  </AccelaConfig>
</configuration>
