<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <AccelaConfig>
    <URLs>
      <!--<AuthenticationURL>https://auth.dev.accela.com/oauth2/authorize</AuthenticationURL>
      <TokenExchangeURL>https://auth.dev.accela.com/oauth2/token</TokenExchangeURL>-->
      <!--<APIUrl>https://apis.dev.accela.com</APIUrl>-->
      <AuthenticationURL>https://accelaauthdev-beta.cloudapp.net/oauth2/authorize</AuthenticationURL>
      <TokenExchangeURL>https://accelaauthdev-beta.cloudapp.net/oauth2/token</TokenExchangeURL>
      <APIUrl>https://accelaapidev-beta.cloudapp.net</APIUrl>
    </URLs>
    <RequestStrings>
      <!-- Authentication -->
      <AuthenticationRequest>{authUrl}?client_id={appId}&amp;redirect_uri={redirectURI}&amp;scope={scope}&amp;response_type=code</AuthenticationRequest>
      <CodeExchangeRequest>grant_type=authorization_code&amp;client_id={appId}&amp;client_secret={appSecret}&amp;redirect_uri={redirectURI}&amp;code={code}</CodeExchangeRequest>
      <GetUserProfile>/v4/users/me</GetUserProfile>
      <!-- Records -->
      <DescribeRecordTypes>/v4/system/record/types?offset={offset}&amp;limit={limit}</DescribeRecordTypes>
      <GetRecord>/v4/records/{recordIds}</GetRecord>
      <GetRecords>/v4/records?limit={limit}&amp;offset={offset}</GetRecords>
      <GetMyRecords>/v4/records/mine</GetMyRecords>
      <CreateRecord>/v4/records</CreateRecord>
      <CreatePartialRecord>/v4/records/initialize</CreatePartialRecord>
      <CreateFinalRecord>/v4/records/finalize</CreateFinalRecord>
      <UpdateRecord>/v4/records/{recordId}</UpdateRecord>
      <DeleteRecord></DeleteRecord>
      <!-- Record Custom Fields -->
      <GetRecordCustomFields>/v4/records/{recordIds}/customForms</GetRecordCustomFields>
      <UpdateRecordCustomFields>/v4/records/{recordId}/customForms</UpdateRecordCustomFields>
      <DescribeCustomFields>/v4/records/{recordId}/customForms/meta</DescribeCustomFields>
      <!-- Record Fees -->
      <GetRecordFees>/v4/records/{recordId}/fees</GetRecordFees>
      <!-- Related Records -->
      <GetRelatedRecords>/v4/records/{recordId}/related</GetRelatedRecords>
      <!-- Record Contacts -->
      <GetRecordContacts>/v4/records/{recordIds}/contacts</GetRecordContacts>
      <GetContactTypes>/v4/settings/contacts/types</GetContactTypes>
      <SearchContact>/v4/contacts?limit={limit}&amp;offset={offset}</SearchContact>
      <CreateRecordContact>/v4/records/{recordId}/contacts</CreateRecordContact>
      <UpdateRecordContact>/v4/records/{recordId}/contacts/{id}</UpdateRecordContact>
      <DeleteRecordContact>/v4/records/{recordId}/contacts/{id}</DeleteRecordContact>
      <!-- Record Documents -->
      <DeleteRecordDocument>/v4/records/{recordId}/documents/{documentIds}</DeleteRecordDocument>
      <CreateRecordDocument>/v4/records/{recordId}/documents</CreateRecordDocument>
      <DeleteRecordDocuments>/v4/records/{recordId}/documents</DeleteRecordDocuments>
      <GetRecordDocuments>/v4/records/{recordId}/documents</GetRecordDocuments>
      <!-- Documents -->
      <GetDocument>/v4/documents/{documentIds}</GetDocument>
      <DownloadDocument>/v4/documents/{documentId}</DownloadDocument>
      <!-- Agencies -->
      <GetAgency>/v4/agencies/{name}</GetAgency>
      <GetAgencyLogo>/v4/agencies/{name}/logo</GetAgencyLogo>
      <GetStaff>/v4/system/agency/departments/{id}/staffs</GetStaff>
      <!-- Workflows -->
      <GetWorkflowTasks>/v4/records/{id}/workflowtasks</GetWorkflowTasks>
      <UpdateWorkflowTask>/v4/records/{id}/workflowtask</UpdateWorkflowTask>
    </RequestStrings>
    <RequestHelpers>
      <CodeString>code=</CodeString>
      <ContentType>application/json</ContentType>
      <Accept>application/json</Accept>
      <HAppId>x-accela-appid</HAppId>
      <HAppSecret>x-accela-secret</HAppSecret>
      <HAgency>x-accela-agency</HAgency>
      <HEnv>x-accela-environment</HEnv>
      <HResponseError>x-accela-resp-message</HResponseError>
      <HTraceId>x-accela-traceId</HTraceId>
    </RequestHelpers>
  </AccelaConfig>
</configuration>
