<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Accela.WebSDK.API.Url" value="https://apps-apis.cloudapp.net/v4" />
    <add key="Accela.WebSDK.OAuth.AuthenticationUrl" value="https://apps-oauth.cloudapp.net/oauth2/authorize" />
    <add key="Accela.WebSDK.OAuth.TokenExchangeUrl" value="https://apps-apis.cloudapp.net/oauth2/token" />
  </appSettings>
</configuration>